<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap" rel="stylesheet">
        <title>Imageboard</title>
    </head>

    <body>
        
        <div id="main">

            <header>
                <h1>Welcome to blabla</h1>

                <section id="upload-section">
                    <h2>UPLOAD YOUR IMAGES</h2>

                    <form action="/images" method="post" enctype="multipart/form-data" @submit="onFormSubmit">
                        <div id="form-top-row">
                            <input v-model="uploadTitle" placeholder="Title" name="uploadTitle" class="uploadInput"> 
                            <input v-model="uploadDescription" placeholder="Description" name="uploadDescription" class="uploadInput"> 
                            <input v-model="uploadUsername" placeholder="Username" name="uploadUsername" class="uploadInput"> 
                        </div>
                        <div id="form-bottom-row">
                            <input type="file" name="uploadPicture" id="uploadPicture" accept="image/*"> 
                            <input type="submit" value="upload" id="uploadSubmit">
                        </div>
                    </form>

                </section>



            </header>

            <main>

            <modal-component v-if="id" :id="id" @close="closeAppModal"></modal-component>
                        <h2 id="title-latest-images">LATEST IMAGES</h2>


            <section id="polaroid-section">
                <div id="polaroid" v-for="image in images">
                    <div id="polaroid-image">
                        <img v-bind:src="image.url" v-bind:alt="image.description" @click="this.id=image.id">
                    </div>
                    <p id="polaroid-text">{{ image.title }}</p>
                    <!-- <button id="heart">&hearts;</button> -->
                </div>

            </section>
            
            <button type="button"  v-if="button" @click="getMoreImages" id="button-more-images">More images</button>

            </main>



        </div>

    <footer>
    </footer>

    <script
        src="/js/app.js"
        type="module"
        crossorigin="use-credentials"
    ></script>
    </body>
</html>
