* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: lightgray;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - general */

h1 {
    font-family: "Baloo 2", cursive;
    font-weight: 800;
    font-size: 15vh;
    text-align: center;
    line-height: 12vh;
}

h2 {
    font-family: "Baloo 2", cursive;
    font-size: 2.5vw;
}

#separation {
    height: 5vw;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: lightgray;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - header section */

header {
    width: 100vw;
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("/images/daniele-levis-pelusi-mkMSXR86kYY-unsplash.jpg");
    background-size: cover;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - title and favourites */

#title-latest-images-box {
    height: 5vw;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title-latest-images {
    width: 50vw;
    height: 5vw;
    /* position: sticky;
    top: 0; */
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: black;
    padding-left: 6vw;
}

#allFavourites {
    width: 50vw;
    height: 5vw;
    font-size: 2.5vw;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    background-color: black;
    padding-right: 6vw;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - upload section */

#upload-section {
    width: 100vw;
    height: 20vh;
    padding-left: 6vw;
    padding-top: 2.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#upload-form {
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-middle-row {
    margin-bottom: 1.5vh;
    margin-top: 2vh;
}

.uploadInput {
    width: 12vw;
    height: 3vh;
    margin-right: 2vw;
    box-shadow: 3px 3px;
    border: none;
}

#uploadPicture {
    width: 26vw;
    height: 3vh;
    margin-right: 2vw;
    box-shadow: 3px 3px;
    border: none;
    text-decoration: none;
    background-color: white;
}

#uploadSubmit {
    width: 12vw;
    height: 3vh;
    margin-right: 2vw;
    background-color: black;
    color: white;
    border: 3px solid black;
}

#form-bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#uploadMessage {
    font-family: "Baloo 2", cursive;
    font-size: 1.5vw;
    color: red;
}

#uploadLoading {
    font-family: "Baloo 2", cursive;
    font-size: 1.5vw;
    color: black;
}

::-webkit-file-upload-button {
    border: none;
    height: 3vh;
    background-color: lightgray;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - polaroid section */

#polaroid-section {
    width: 90vw;
    margin-top: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5vw;
    grid-auto-flow: row;
}

#polaroid {
    height: 30vw;
    box-shadow: 10px 10px;
    background-color: white;
}

#polaroid:hover {
    /* transform: scale(1.1); */
    box-shadow: 20px 20px;
}

#polaroid-image {
    height: 20vw;
    flex-direction: column;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 2vw;
    margin-bottom: 0vw;
    align-items: center;
    justify-content: center;
}

#polaroid-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

#polaroid-text {
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Edu NSW ACT Foundation";
    font-size: 2vw;
    text-align: center;
    background-color: white;
}

#button-more-images {
    width: 8vw;
    height: 3vh;
    background-color: black;
    color: white;
    border: 3px solid black;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

#favourite {
    color: lightgrey;
    font-size: 3vh;
    cursor: pointer;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - modal window */

#modal {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay {
    position: fixed;
    inset: 0px;
    background-color: rgb(0, 0, 0, 75%);
    transition: background-color 500ms ease-in-out;
    /* z-index: 0; */
}

#modal-window {
    width: 60vw;
    background-color: white;
    z-index: 5;
    box-shadow: 8px 8px;
    display: flex;
}

#modal-left {
    height: 100%;
    width: 60%;
}

#modal-right {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: flex-end; */
}

#modal-image {
    height: auto;
    max-width: 85%;
    max-height: 75vh;
    margin: 3vw;
}

#modal-text {
    text-align: right;
    margin-right: 3vw;
    font-family: "Baloo 2", cursive;
    font-size: 1vw;
    margin-bottom: 3vw;
}

#modal-title {
    font-weight: 800;
}

#modal-username {
    font-weight: 400;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - modal window - comments */

#comments-input {
    margin-right: 1vw;
}

#comments-inputfield {
    width: 7vw;
    height: 3vh;
    margin-right: 1vw;
    box-shadow: 3px 3px;
    margin-top: 3vw;
    border: none;
}

#comments-submit {
    width: 5vw;
    height: 3vh;
    margin-top: 1vw;
    background-color: black;
    color: white;
    border: 3px solid black;
}

#comments-message {
    height: 2vh;
    font-family: "Baloo 2", cursive;
    font-size: 1vw;
    color: red;
    padding-top: 0.25vw;
}

#comments-display {
    max-height: 80%;
    overflow: scroll;
    margin-top: 1vw;
    margin-right: 3vw;
    font-family: "Baloo 2", cursive;
    font-weight: 400;
    font-size: 0.8vw;
    background-color: lightgray;
}

#comments-input-comment {
    font-family: "Baloo 2", cursive;
    font-size: 1vw;
    font-weight: 800;
}

#comments-input-username {
    font-family: "Baloo 2", cursive;
    font-size: 1vw;
    font-weight: 400;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - @ media - TABLET */

@media screen and (min-width: 768px) and (max-width: 1000px) {
    #button-more-images {
        width: 14vw;
    }
    #comments-submit {
        width: 10vw;
        height: 3vh;
        margin-top: 1vw;
        background-color: black;
        color: white;
        border: 3px solid black;
        box-shadow: 3px 3px;
    }
    header {
        height: 45vh;
    }
    #uploadMessage {
        font-size: 2vw;
    }
    #uploadLoading {
        font-size: 2vw;
        color: black;
    }
    #comments-inputfield {
        width: 10vw;
    }
    #comments-message {
        height: 2vh;
        font-family: "Baloo 2", cursive;
        font-size: 1.5vw;
        color: red;
        padding-top: 0.25vw;
    }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - @ media - SMARTPHONE */

@media screen and (min-width: 320px) and (max-width: 767px) {
    #polaroid-section {
        grid-template-columns: 1fr;
    }
    #button-more-images {
        width: 28vw;
        font-size: 3vw;
    }

    h1 {
        font-size: 20vw;
        margin-top: 8vh;
    }

    h2 {
        font-size: 5vw;
    }

    #title-latest-images-box {
        height: 5vw;
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #title-latest-images {
        width: 50vw;
        height: 10vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: white;
        background-color: black;
        /* padding-left: 6vw; */
        font-family: "Baloo 2", cursive;
        font-size: 5vw;
    }

    #allFavourites {
        width: 50vw;
        height: 10vw;
        font-size: 5vw;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        color: white;
        background-color: black;
        /* padding-right: 6vw; */
    }

    header {
        width: 100vw;
        height: 35vh;
    }
    .uploadInput {
        width: 28vw;
        height: 3vh;
        margin-right: 2vw;
        box-shadow: 3px 3px;
        font-size: 3vw;
    }
    #uploadPicture {
        width: 58vw;
        height: 3vh;
        margin-right: 2vw;
        box-shadow: 3px 3px;
        border: none;
        text-decoration: none;
        background-color: white;
        font-size: 3vw;
    }
    #uploadSubmit {
        width: 28vw;
        height: 3.2vh;
        font-size: 3vw;
        box-shadow: 3px 3px black;
    }
    ::-webkit-file-upload-button {
        border: none;
        height: 3vh;
        background-color: lightgray;
    }
    #polaroid {
        height: 50vh;
        box-shadow: 7px 7px;
        background-color: white;
        margin-bottom: 3vh;
    }

    #polaroid-image {
        height: 35vh;
        flex-direction: column;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 6vw;
        margin-bottom: 8vw;
        align-items: center;
        justify-content: center;
    }

    #polaroid-text {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 7vw;
        text-align: center;
        background-color: white;
    }

    #modal-window {
        max-height: 90vh;
        width: 90vw;
        background-color: white;
        z-index: 5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    #modal-left {
        width: 100%;
    }

    #modal-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    #modal-image {
        height: auto;
        width: 100%;
        max-width: 87%;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 6vw;
        max-height: 55vh;
    }

    #modal-text {
        text-align: center;
        margin-right: 3vw;
        min-height: 1vh;
        margin-top: 3vw;
        font-family: "Baloo 2", cursive;
        font-size: 3vw;
        margin-bottom: 3vw;
    }

    #modal-title {
        font-weight: 800;
    }

    #modal-username {
        font-weight: 400;
    }

    #comments-inputfield {
        width: 30vw;
        height: 3vh;
        margin-right: 3vw;
        box-shadow: 3px 3px;
        margin-top: 1vw;
        border: none;
        font-size: 3vw;
    }

    #comments-submit {
        width: 13vw;
        height: 3vh;
        font-size: 3vw;
        margin-bottom: 1px;
        box-shadow: 3px 3px black;
        text-align: center;
    }

    #comments-display {
        max-height: 47%;
        overflow: scroll;
        margin-top: 3vw;
        margin-right: 0vw;

        font-family: "Baloo 2", cursive;
        font-weight: 400;
        font-size: 3vw;
        background-color: lightgray;
    }

    #comments-input-comment {
        font-family: "Baloo 2", cursive;
        font-size: 3vw;
        font-weight: 800;
    }

    #comments-input-username {
        font-family: "Baloo 2", cursive;
        font-size: 3vw;
        font-weight: 400;
    }
    #comments-message {
        height: 2vh;
        font-family: "Baloo 2", cursive;
        font-size: 3.5vw;
        color: red;
        padding-top: 1vw;
    }
}
